<%include ../partials/header%>
<h1>Show template</h1>

<p><%=campground.name%></p>
<img src="<%=campground.image%>" alt="campground image">
<p><%=campground.description%></p>

<%include ../partials/footer%>